

<div class="container-fluid g-0">
  <div class="row">
      <div class="col-12">
        <div class="carousel" style="width: 100%;">
          <div style="width: 100%;"><img style="width: 100%;" src="https://picsum.photos/300/200?random=1"></div>
          <div style="width: 100%;"><img style="width: 100%;" src="https://picsum.photos/300/200?random=2"></div>
          <div style="width: 100%;"><img style="width: 100%;" src="https://picsum.photos/300/200?random=3"></div>
          <div style="width: 100%;"><img style="width: 100%;" src="https://picsum.photos/300/200?random=4"></div>
          <div style="width: 100%;"><img style="width: 100%;" src="https://picsum.photos/300/200?random=5"></div>
          <div style="width: 100%;"><img style="width: 100%;" src="https://picsum.photos/300/200?random=6"></div>
        </div>
      </div>
  </div>
</div>


{% javascript %}
    $(document).ready(function(){
      $('.carousel').slick({
        slidesToShow: 3,
        dots:true,
        centerMode: true,
        });
        
    })
   
{% endjavascript %}