<div class="container">
    <div class="row d-flex align-items-center">
        <div class="col-md-6 my-5 py-5">
            <h1>FROM OUR <br>HOME TO YOURS</h1>
            <div class="buttonFromlares my-5">
                    SEE MORE
            </div>
        </div>
        <div class="col-md-6">
            ádsfaksdfjlñkj
        </div>
    </div>
</div>