<div class="about-us-index-image">
    <div class="container">
        <div class="row rows-cols-md-3">
            {% for block in section.blocks %}
                <div class="col mb-2">
                    <img src="{{ block.settings.image | img_url: 'master' }}" alt="NombrePersona" style="width: 100%;"/>
                    <p class="mt-3 mb-1">{{block.settings.nombreFromlares}}</p>
                    <p class="">{{block.settings.nombrePersona}}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


{% schema %}

{
    "name": "Team",
    "tag": "section",
    "class": "slideshow",
    "blocks": [
        {
            "name": "People",
            "type": "slide",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }, {
                    "type": "textarea",
                    "id": "nombreFromlares",
                    "label": "Texto de Empresa"
                }, {
                    "type": "textarea",
                    "id": "nombrePersona",
                    "label": "Nombre de Persona"
                }
            ]
        }
    ]
}

{% endschema %}
