<div class="about-us-index-image">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6">
        <h1> {{section.settings.tituloThisIsFromlares}} </h1>
      </div>
      <div class="col-md-6">

        {{section.settings.descripcionThisIsFromlares}}

        From Lares was founded in 2018 by Mariela Motilla. With a background in
        fine arts, fibers and material studies, she created a brand that
        translates her passion for color, grids and patterns into more than
        words. Influenced in art, film and everyday landscapes.
        <br />
        <br />
        From Lares is a home goods brand that connects people through emotions.
        Our passion and feeling for weaving is woven in every product, and we
        hope we can bring you some of the joy we put into making it to your
        home.
        <br />
        <br />
        <br />
        From Lares’s work explores the idea of an extension of our bodies and
        souls through the loom and through the final product, hoping that way we
        can connect with people through something beyond the physical world and
        make our creations a product with sentimental value.
        <br />
        <br />
        <br />
        We firmly believe that a tiny bit of us and our stories are woven into
        everything we make and hope we can bring a piece of that joy and love
        into every home we reach.
        <br />
        <br />
        <br />
        From the deepest of our souls to yours.
      </div>
    </div>
  </div>
</div>


{% schema %}

{
    "name": "This is Fromlares Text",
    "settings": [
        {
            "type": "textarea",
            "id": "tituloThisIsFromlares",
            "label": "Texto de acompañamiento"
        },
        {
            "type": "textarea",
            "id": "descripcionThisIsFromlares",
            "label": "Texto de acompañamiento"
        }
      
    ]
}

{% endschema %}
