<div class="about-us-index-image">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6">
        <h1> {{section.settings.tituloThisIsFromlares}} </h1>
      </div>
      <div class="col-md-6">

        {{section.settings.descripcionThisIsFromlares}}
        
      </div>
    </div>
  </div>
</div>


{% schema %}

{
    "name": "This is Fromlares Text",
    "settings": [
        {
            "type": "textarea",
            "id": "tituloThisIsFromlares",
            "label": "Texto de acompañamiento"
        },
        {
            "type": "textarea",
            "id": "descripcionThisIsFromlares",
            "label": "Texto de acompañamiento"
        }
      
    ]
}

{% endschema %}
