html {
  font-size: 0.8rem;
  color: #36499B !important;
}

body
{
  color: #36499B !important;
}

a{
  text-decoration: none !important; 
}

.animationRotate {
  -webkit-animation: rotation 2s infinite linear;
  cursor: pointer !important;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

.announcement-bar {
  background: linear-gradient(270deg, #d89fe0, #e0cde6);
  color: white;
}

.menuComponent {
  width: 100%;
  background-color: white;
}

.topLogoFromlares {
  width: 70%;
}

@media (max-width: 575.98px) {
  .topLogoFromlares {
    width: 50%;
  }

  .formOpenLinks {
    font-size: 1.8rem !important;
  }
}

.formOpen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(#d89fe0, #e0cde6);
  z-index: 5000;
}

.formOpenLinks {
  position: absolute;
  bottom: 100px;
  right: 20px;
  color: #36499b !important;
  text-align: right;
  font-size: 1.8rem;
}

.site-nav__link {
  color: #36499b !important;
  text-decoration: none;
}

.site-nav--active {
  list-style-type: none !important;

}

.formOpenLinks li {
  list-style: none !important;
}

.carouselduqueprincipal {
  width: 100%;  
  text-align: center;
}
.carouselduqueprincipal div {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.carouselduqueprincipal h1 {
  padding-top: 35vh;
  padding-bottom: 35vh;
  color: white;
}

.buttonFromlares {
  background: #efefef;
  background: rgba(239, 239, 239, 1);
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;

  padding: 15px;
  color: #36499b;
  display: inline-block;
}


footer
{
  color: #36499B !important;
  margin-top: 7vh;
  margin-bottom: 7vh;
}
footer a
{
  color: #36499B !important;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}

.instagramContainer
{
  background-color: #E0C7E6;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

h1, h2, h3, h4, h5, h6
{
  color: #36499B !important;
}

.facets__display
{
  background-color: white !important;
}

.bg-top-page
{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 padding-top: 5vh;
 padding-bottom: 5vh;
}

.productContainer
{
  padding-left: 5px;
  padding-right: 5px;
}

.textosProducto
{
  color: #36499B !important;
  text-decoration: none !important;
}

#cart-notification
{
  background-color: white !important;
}

.product-form__submit
{
  background-color: #EFEFEF !important;
  color: #36499B !important;
  border-radius: 10px;
}
.select
{
  width: 100% !important;
  max-width: 100%;;
}
.select__select
{
  background-color: #EFEFEF !important;
  color: #36499B !important;
  border-radius: 10px;
}

.product-form__input .select
{
  max-width: 100% !important;
}

.openCloseMenu
{
  cursor: pointer;
}

.imgFullWelcome
{
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500000;
}
.imgFullWelcomeDos
{
  width: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

.collection-filters__sort
{
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.collection-filters__sort + .icon-caret
{
  right: 10px !important;
}

.mobile-facets
{
  background-color: white;
}

.field__label, .customer .field label
{
  font-size: initial  !important;
}


.grayBelt
{
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
  color: #36499b;
  font-weight: bold;
  width: 80%;
}

.grayBelt a
{
   color: #36499b !important;
 text-decoration: none;
}

.tinyMessageMenu
{
  font-size: 14px;
  font-style: italic;
}

.btn-secondary
{
  background-color: #EFEFEF !important;
  border: none;
  color: #36499B; 
}

.btn-primary
{
  background-color: #36499B !important;
  border: none;
  color: #EFEFEF; 
}

.slider-buttons--overlay .slider-counter
{
  color: white !important;
}

.slider-button
{
  color: white !important
}

.imageDerechaBannerCompleto
{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

}

.imgCentralBannerDerechoCompleto
{
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 575.98px) { 
  .productWibooCultivo
  {
    flex-direction: column-reverse;
  }

}

