<div style="background-color: #36499b !important; color: white !important; padding-top: 15vh; padding-bottom: 15vh;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 position-sticky">
        <h1 class="text-white position-sticky">{{ page.title }}</h1>
      </div>
      <div class="col-md-6">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
